In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
from src.utils import basic_test_data_cleaning

In [7]:
root = Path.cwd().parent
test_path = root/"data"/"raw"/"test.csv"
test_df = pd.read_csv(test_path)

In [8]:
test_df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian
1,0x3474,BANGRES15DEL01,28,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1,No,Metropolitian
2,0x9420,JAPRES09DEL03,23,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1,No,Metropolitian
3,0x72ee,JAPRES07DEL03,21,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1,No,Metropolitian
4,0xa759,CHENRES19DEL01,31,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909,JAPRES01DEL01,35,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian
11395,0x443b,JAPRES11DEL01,33,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian
11396,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian
11397,0x22d4,VADRES03DEL02,27,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian
11398,0xb7be,CHENRES07DEL02,39,5,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban

In [9]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           11399 non-null  object
 1   Delivery_person_ID           11399 non-null  object
 2   Delivery_person_Age          11399 non-null  object
 3   Delivery_person_Ratings      11399 non-null  object
 4   Restaurant_latitude          11399 non-null  float64
 5   Restaurant_longitude         11399 non-null  float64
 6   Delivery_location_latitude   11399 non-null  float64
 7   Delivery_location_longitude  11399 non-null  float64
 8   Order_Date                   11399 non-null  object
 9   Time_Orderd                  11399 non-null  object
 10  Time_Order_picked            11399 non-null  object
 11  Weatherconditions            11399 non-null  object
 12  Road_traffic_density         11399 non-null  object
 13  Vehicle_condition            11399 non-null  int64
 14  Type_of_order                11399 non-null  object
 15  Type_of_vehicle              11399 non-null  object
 16  multiple_deliveries          11399 non-null  object
 17  Festival                     11399 non-null  object
 18  City                         11075 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 1.7+ MB

In [13]:
pd.to_datetime(test_df['Order_Date'],dayfirst=True)

0       2022-03-30
1       2022-03-29
2       2022-03-10
3       2022-04-02
4       2022-03-27
           ...
11394   2022-03-27
11395   2022-03-11
11396   2022-03-11
11397   2022-03-06
11398   2022-03-24
Name: Order_Date, Length: 11399, dtype: datetime64[ns]

In [11]:
test_df[test_df['Order_Date']=="17-02-2022"]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
10,0xd845,KOCRES09DEL01,24,4.8,10.000706,76.349516,10.040706,76.389516,17-02-2022,14:35:00,14:40:00,conditions Stormy,High,2,Snack,motorcycle,1,No,Metropolitian
74,0xcb17,ALHRES06DEL02,25,4.9,0.000000,0.000000,0.020000,0.020000,17-02-2022,10:00:00,10:15:00,conditions Sunny,Low,1,Buffet,scooter,0,No,Metropolitian
103,0xc500,AGRRES08DEL02,35,4.9,27.160934,78.044095,27.180934,78.064095,17-02-2022,10:40:00,10:55:00,conditions Cloudy,Low,0,Meal,motorcycle,1,No,Metropolitian
148,0xd9b5,AGRRES02DEL01,29,4.6,0.000000,0.000000,0.040000,0.040000,17-02-2022,16:45:00,16:55:00,conditions Windy,Medium,1,Buffet,scooter,1,No,Metropolitian
153,0xc94a,DEHRES17DEL02,31,4.7,30.327968,78.046106,30.347968,78.066106,17-02-2022,08:55:00,09:05:00,conditions Sunny,Low,0,Buffet,motorcycle,0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11184,0xc812,BHPRES09DEL01,28,4.7,0.000000,0.000000,0.040000,0.040000,17-02-2022,13:20:00,13:30:00,conditions Sunny,High,1,Buffet,scooter,1,No,Metropolitian
11198,0xd048,ALHRES03DEL01,25,4.8,25.451517,81.832616,25.491517,81.872616,17-02-2022,15:40:00,15:45:00,conditions Windy,Medium,2,Meal,motorcycle,1,No,Metropolitian
11267,0xc1a9,ALHRES19DEL01,30,5,25.457116,81.859682,25.497116,81.899682,17-02-2022,14:10:00,14:25:00,conditions Windy,High,0,Snack,motorcycle,1,No,Metropolitian
11313,0xd69f,KOLRES02DEL02,27,4.7,22.514585,88.393310,22.564585,88.443310,17-02-2022,17:20:00,17:25:00,conditions Cloudy,Medium,0,Meal,motorcycle,0,No,Urban
11321,0xd1dc,LUDHRES19DEL02,37,4.7,30.902872,75.826808,30.952872,75.876808,17-02-2022,20:00:00,20:10:00,conditions Windy,Jam,2,Drinks,scooter,1,No,Metropolitian

In [12]:
test_df['Order_Date']

0        30-03-2022
1        29-03-2022
2        10-03-2022
3        02-04-2022
4        27-03-2022
            ...
11394    27-03-2022
11395    11-03-2022
11396    11-03-2022
11397    06-03-2022
11398    24-03-2022
Name: Order_Date, Length: 11399, dtype: object

In [14]:
pd.to_datetime(test_df['Order_Date'])

C:\Users\PRAVAT PATRA\AppData\Local\Temp\ipykernel_18976\1103262264.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(test_df['Order_Date'])

0       2022-03-30
1       2022-03-29
2       2022-03-10
3       2022-04-02
4       2022-03-27
           ...
11394   2022-03-27
11395   2022-03-11
11396   2022-03-11
11397   2022-03-06
11398   2022-03-24
Name: Order_Date, Length: 11399, dtype: datetime64[ns]

In [15]:
"20.22222".isdigit()

False